html,
body,
#__nuxt {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --uno: color-base font-sans;
}

html {
  background-image: url('/texture.png');
  background-size: 300px;
  background-repeat: repeat;
}

html.dark {
  color-scheme: dark;
  background-color: black;
  background-image: url('/texture-dark.png');
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 999999;
}
.dark::view-transition-old(root) {
  z-index: 999999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

/* Overrides Floating Vue */
.v-popper {
  display: flex;
}

.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  --at-apply: 'bg-base color-base font-sans rounded border border-base shadow dark:shadow-2xl';
  box-shadow: 0 6px 30px #0000001a;
}

.v-popper--theme-tooltip .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: 'border-white dark:border-neutral-900';
}

.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --at-apply: border-base;
}

.v-popper--theme-tooltip.v-popper--shown,
.v-popper--theme-tooltip.v-popper--shown * {
  transition: none !important;
}
