html,
body,
#__nuxt {
  height: 100%;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

body {
  --uno: color-base font-sans;
}

html {
  background-image: url('/texture.png');
  background-size: 300px;
  background-repeat: repeat;
}

html.dark {
  color-scheme: dark;
  background-color: black;
  background-image: url('/texture-dark.png');
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 999999;
}
.dark::view-transition-old(root) {
  z-index: 999999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

/* Overrides Floating Vue */
.v-popper {
  display: flex;
}

.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  --at-apply: 'bg-base color-base font-sans rounded border border-base shadow dark:shadow-2xl';
  box-shadow: 0 6px 30px #0000001a;
}

.v-popper--theme-tooltip .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: 'border-white dark:border-black';
}

.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --at-apply: border-base;
}

.v-popper--theme-tooltip.v-popper--shown,
.v-popper--theme-tooltip.v-popper--shown * {
  transition: none !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: var(--c-border);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #8882;
  transition: background 0.2s ease;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
}

/* Markdown */

.markdown-content a {
  --uno: 'op75 @hover:op100 @hover:underline';
}

.markdown-content h1 {
  --uno: font-bold text-2xl mb5;
}

.markdown-content h2 {
  --uno: text-xl mb5 mt4 op75 border-b border-base py2;
}

.markdown-content p + p {
  --uno: mt5;
}

.markdown-content p > code {
  --uno: px1.5 py1 bg-hex-8883 rounded max-w-200 of-auto text-sm;
}

.markdown-content pre {
  --uno: my4 of-auto px3 py2 rounded-lg;
}

.markdown-content .shiki {
  background: #f7f7f7 !important;
}

.dark .markdown-content .shiki {
  background: var(--shiki-dark-bg) !important;
}

.dark .markdown-content .shiki span {
  color: var(--shiki-dark) !important;
}

.markdown-magic-link {
  display: inline-flex;
  align-items: center;
  background: rgb(156 163 175 / 0.3);
  transform: translateY(3px);
  line-height: 100%;
  color: var(--fg-light) !important;
  --uno: gap-1 transition rounded px1.5 py1 important-border-0 font-condensed;
}

.markdown-magic-link:hover {
  background: rgb(156 163 175 / 0.4);
  color: var(--fg) !important;
}

.markdown-magic-link-image {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.markdown-magic-link.markdown-magic-link-github-at {
  transform: translateY(6px);
  --uno: pl-0 py-0 pr2 text-sm gap-1.2 rounded-full;
}

.markdown-magic-link.markdown-magic-link-github-at .markdown-magic-link-image {
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
}
